<div class="stock-quote-card">
    <div class="card-left">
      <figure
        class="stock-meter <%- this.getValueClassName(change) %>"
        data-stock-high="<%- this.formatMoney(high) %>"
        data-stock-low="<%- this.formatMoney(low) %>"
      >
        <div class="stock-meter-arrow" style="--arrow-position: <%= this.getStockMeterArrowPosition(high, low, price) %>"></div>
      </figure>
    </div>
    <div class="card-right">
        <h3><%- name %></h3>
        <p class="stock-symbol-label"><%- symbol %></p>
        <p class="stock-price">
          <%- this.formatMoney(price) %>
          <span class="<%= this.getValueClassName(change) %>">
            <span class="arrow"><%= this.getArrow(change) %></span>
            <span class="price-change"><%- this.formatMoney(change) %></span>
            (<%- changePercent %>)
          </span>
        </p>
        <p class="stock-recent-performance">
            <span><span class="price-type">OPEN</span><%- this.formatMoney(open) %></span>
            <span><span class="price-type">HIGH</span> <%- this.formatMoney(high) %></span>
            <span><span class="price-type">LOW</span> <%- this.formatMoney(low) %></span>
        </p>
    </div>
</div>