@import "../variables.scss";
@import "~bootstrap/scss/bootstrap";

:root {
  --card-left-display: none;

  @include media-breakpoint-up($tablet) {
    --card-left-display: flex;
  }
}

@include media-breakpoint-down($mobile) {
  .page-header {
    padding-left: 15px;
  }
  
  .stock-search-container {
    align-items: center;
    margin-bottom: .8rem;
    > div {
      flex: 1 0 70%;
      max-width: 70%;
    }

    div + div {
      flex: 1 0 20%;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}

#stock-search-button {
  box-shadow: $box-shadow;
}

.stock-quotes-container {
  display: grid;
  gap: 0.4rem;
  grid-auto-rows: 1fr;

  @include media-breakpoint-up($tablet) {
    grid-template-columns: repeat(2, 290px);
  }

  @include media-breakpoint-up($smaller-desktop) {
    grid-template-columns: repeat(3, 320px);
  }
}